<div class="bg-gray-100 w-full min-h-screen">
  <div class="w-full p-3 bg-emerald-400 text-center text-white">
    <h1 class="text-4xl bg-inherit">PDF Converter</h1>
  </div>

  <div class="main-container justify-around w-full mt-10 flex">
    <div id="content" #content>
      <table class="shadow-lg bg-white">
        <tr class=" ">
          <th class="bg-blue-100 border text-left px-8 py-4">Id</th>
          <th class="bg-blue-100 border text-left px-8 py-4">Name</th>
          <th class="bg-blue-100 border text-left px-8 py-4">Age</th>
        </tr>

        <tr>
          <td class="border px-8 py-4">1</td>
          <td class="border px-8 py-4">Abhishek Mohan A</td>
          <td class="border px-8 py-4">22</td>
        </tr>

        <tr>
          <td class="border px-8 py-4">2</td>
          <td class="border px-8 py-4">John Doe</td>
          <td class="border px-8 py-4">55</td>
        </tr>

        <tr>
          <td class="border px-8 py-4">3</td>
          <td class="border px-8 py-4">Tim</td>
          <td class="border px-8 py-4">47</td>
        </tr>

        <tr>
          <td class="border px-8 py-4">3</td>
          <td class="border px-8 py-4">Charles</td>
          <td class="border px-8 py-4">95</td>
        </tr>

        <tr>
          <td class="border px-8 py-4">4</td>
          <td class="border px-8 py-4">Cynth</td>
          <td class="border px-8 py-4">23</td>
        </tr>

        <tr>
          <td class="border px-8 py-4">5</td>
          <td class="border px-8 py-4">Barry</td>
          <td class="border px-8 py-4">33</td>
        </tr>
      </table>
    </div>

    <button
      (click)="makePdf()"
      class="rounded mt-5 w-1/12 h-10 bg-emerald-400 text-white"
    >
      Download
    </button>
  </div>
</div>
